@font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerBold.woff') format('woff'),
		url('/fonts/MullerBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerLight.woff2') format('woff2'),
		url('/fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerMedium.woff2') format('woff2'),
		url('/fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Muller';
	src: url('/fonts/MullerRegular.woff2') format('woff2'),
		url('/fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-left: 40px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

html {
  font-family: Muller, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
    background-color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.text-orange {
  color: #cc9933;
}


.title {
  font-size: 40px;
  font-weight: 300;
  color: #333333;
  margin-top: 70px;
  margin-left: 40px;
  margin-bottom: 20px;
}

/* ======== header ======== */

.header {
  height: 185px;
}

.header-top {
  display: flex;
  align-items: center;
}

.logo {
  margin: 30px 25px 30px 0;
}

.haeder-tel {
  font-size: 22px;
  font-weight: 600;
  margin-right: auto;
  color: #666666;
  }

.header-account {
  font-weight: 400;
  padding-left : 22px;
  background-image: url(/svg-png/arrow-account.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 10px;
  align-items: center;
}

.header-nav {  
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;

}

.header-nav-list {
  display: flex;
  margin-left: 20px;
  margin-right: auto;
}

.header-nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-link {
  color: #333333;
}



.header-search {
  font-size: 14px;
  color: #d2d2d2;
  background-color: #f1f1f1;
  background-image: url(/svg-png/search.png);
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: right;
  background-position-x: 311px;
  width: 355px;
  border: none;
  border-radius: 15px;
  margin: 10px 20px 10px 0;
  padding: 15px 20px;
}

/* ======== резервирование номеров ======== */

.reserve-container {
  max-height: 670px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.section-reserve {
  max-width: 575px;
}
.section-special {
  max-width: 595px;
}

.section-reserve-item {
  color: #a0a0a0;
  width: 520px;
  height: 70px;
  border: 0;
  border-radius: 12px;
  margin: 0 20px 20px 0;
  padding: 15px 20px;
}

.section-reserve-find-apartment {
  display: flex;
  align-items: center;
  color: #a0a0a0;
  height: 70px;
  width: 100%;
}

.section-reserve-btn {
  font-weight: 600;
  width: 160px;
  height: 100%;
  text-align: center;
  line-height: 70px;
  margin-right: 30px;
  background-color: #cc9933;  
  color: #fff;
  border: 0;
  border-radius: 12px;
}

.section-special-options {
  width: 100%;
  height: 100%;
  background-image: url(/svg-png/special-lux.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.section-special-options-title {
  font-size: 66px;
  font-weight: 600;
  line-height: 0.9;
  padding-top: 265px;
  padding-left: 40px;
  padding-right: 200px;
  color: #fff;
}

.section-special-options-price {
  display: inline-block;
  padding: 25px 40px 0 40px;
  color: #999999;
  font-size: 35px;
}

.section-special-options-link {
  display: inline-block;
  background-image: url(/svg-png/arrow-orange.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 9px 16px;
  padding-right: 20px;
}

/* ======== about \\ О нас ======== */

.section-about-paragraph{
  color: #797979;
  line-height: 2;
  width: 900px;
}

/* ======== services \\ Услуги ======== */

.section-services-list {
 display: flex;
 align-items: stretch;
 width: 100%;
 height: 100%;
 flex-wrap: wrap;
 justify-content:space-between;
}

.section-services-block {
  flex: 1 1 auto;
  background-color: #fff;
  border-radius: 12px;
  max-width: 572px;
  margin-bottom: 24px;
}

.section-services-title {
  font-size: 22px;
  font-weight: 400;
  background-image: url(/svg-png/arrow-orange.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 9px 16px;
  margin-left: 40px;
  padding-right: 20px;
}

.section-services-block-paragraph {
  line-height: 2;
  color: #333333;
  width: 410px;
  padding-top: 10px;
  padding-bottom: 40px;
}
.section-services-block-svc {
  height: 200px;
  background-image: url(/jpg/section-services-block-svc.jpg);  
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.section-services-block-banquet {
  height: 200px;
  background-image: url(/jpg/section-services-block-banquet.jpg);  
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.section-services-block-pool {
  height: 200px;
  background-image: url(/jpg/section-services-block-pool.jpg);  
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

.section-services-block-parking {
  height: 200px;
  background-image: url(/jpg/section-services-block-parking.jpg);  
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
}

/* ======== advantages \\ Преимущества ======== */

.section-advantages-list {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
 }

.section-advantages-block {
  flex: 1 1 25%;
  background-color: #fff;
  border-radius: 12px;
  max-width: 275px;
  margin-bottom: 24px;
  padding: 40px;
}

.section-advantages-paragraph {
  max-width: 200px;
  padding-top: 65px;
  margin: 0;
  line-height: 2;
  color: #333333;
}

.section-advantages-bathtub {
  background-image: url(/svg-png/bathtub.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-hanger {
  background-image: url(/svg-png/hanger.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-heating {
  background-image: url(/svg-png/heating.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-hotel-key {
  background-image: url(/svg-png/hotel-key.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-parking {
  background-image: url(/svg-png/parking.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-reception {
  background-image: url(/svg-png/reception.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-security-box {
  background-image: url(/svg-png/security-box.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

.section-advantages-swimming-pool {
  background-image: url(/svg-png/swimming-pool.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 60px;
}

/* ======== accommodation \\ Размещение ======== */


.section-accommodation-blocklist {
  display: flex;
  align-items: stretch;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
 }
 
 
.section-accommodation-block {
  flex: 1 1 auto;
  background-color: #fff;
  border-radius: 12px;
  max-width: 373px;
  height: 441px;
  margin-bottom: 25px;
}


.section-accommodation-all-options {
  height: 100%;
  width: 100%;
  background-image: url(/jpg/all-options.jpg);
}

.section-accommodation-block-info {
  padding: 40px;
  color: #999999;
  line-height: 1.5;
}

.section-accommodation-block-price {
  color: #333333;
  font-size: 22px;
  font-weight: 600;
}

.section-accommodation-block-text {
  color: #333333;
}

.section-accommodation-block-stars {
  padding-left: 35px;
}

.section-accommodation-block-btn {
  display: inline-block;
  font-weight: 600;
  width: 100px;
  color:#cc9933;
  padding: 10px 20px;
  border: 1px solid #cc9933;
  border-radius: 12px;
  margin-top: 20px;
}

.section-accommodation-block-all-optoins-link {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding-top: 370px;
  padding-left: 40px;
  padding-right: 20px;
  background-image: url(/svg-png/section-accommodation-all-options-arrow.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-y: 375px;
}
